/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'SourceSansPro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'SourceSansPro Black';
    src: url('/static/fonts/SourceSansPro-Black.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro Bold';
    src: url('/static/fonts/SourceSansPro-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('/static/fonts/SourceSansPro-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro Medium';
    src: url('/static/fonts/SourceSansPro-SemiBold.ttf');
    font-style: normal;
}
